{% extends "system/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="reset-content">
        <form class="reset-form" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="reset-legend mb-3">You are currently at the Cypress Password Reset Page</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="btn-options form-group">
                <button class="btn btn-outline-primary" type="submit">Reset Password</button>
                <a class="btn btn-outline-primary" href="{% url 'system-portal' %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}