{% extends "system/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="register-content">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="mb-3">Please enter information below:</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="btn-options form-group">
                <button class="btn btn-outline-primary" type="submit">Register</button>
                <a class="btn btn-outline-primary" href="{% url 'system-portal' %}">Cancel</a>
            </div><br>
        </form>
    </div>
{% endblock content %}
