* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #d8d8d8;
}

#container {
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#page_title {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
}

#form_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search_form {
    margin: 0 auto;
    width: auto;
    padding: 10px;
}

#search_input_box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    margin-right: 10px;
    margin-bottom: 10px;
}

#search_button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #20ce20;
    transition: all 0.2s ease-in-out;
}

#search_button:hover {
    box-shadow: 0 0 5px 1px #000000;
}

#results {
    margin: 10px auto !important;
    width: 50%;
    padding: 25px;
    flex-grow: 1;
    border-radius: 5px;
    background-color: whitesmoke;
    animation: rainbow 6s ease-in-out forwards infinite;
}


@keyframes rainbow {
    0% {
        box-shadow: 0 10px 15px 0px #ff0000;
    }
    20% {
        box-shadow: 0 10px 15px 0px #ff7f00;
    }
    40% {
        box-shadow: 0 10px 15px 0px #ffff00;
    }
    60% {
        box-shadow: 0 10px 15px 0px #00ff00;
    }
    80% {
        box-shadow: 0 10px 15px 0px #0000ff;
    }
    100% {
        box-shadow: 0 10px 15px 0px #ff0000;
    }
}

#loader_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader {
    display: none;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}